<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrepreneur</title>
    <link rel="icon" href="../entrepreneur/static/icons8-hotel-64 (1).png">
    <link href="../dist/output.css" rel="stylesheet">
    <link rel="stylesheet" href="../entrepreneur/static/style.css">
</head>

<body class="grid grid-cols-6 gap-4">
    <div class="shadow-2xl bg-gradient-to-r from-sky-500 to-indigo-500 text-white h-full fixed top-0 left-0 w-48">
        <img src="../entrepreneur/static/icons8-hotel-64 (1).png" class="mt-6 mx-auto w-10 h-10">
        <h2 class="text-xl font-semibold text-center">HDSBA</h2>
        <h5 class="text-sm text-center">Hotel Data Science</h5>
        <hr class="my-2  mb-4">
        <img src="../entrepreneur/static/ปุยเมฆ.jpg" class="mx-auto w-36 h-36 rounded-full mb-2">
        <h1 class="text-3xl font-semibold mb-2 text-center">Puimekster</h1>
        <ul class="mt-2">
            <a href="../entrepreneur/index.html" class="text-xl text-gray-200 relative block">
                <div class="slide-bg"></div>
                <li class="transition-colors hover:bg-transparent hover:text-slate-950 px-8 py-3 relative z-10">
                    Administrator</li>
            </a>
            <a href="../templates/dashboard.html"" class="text-xl text-gray-200 relative block">
                <div class="slide-bg"></div>
                <li class="transition-colors hover:bg-transparent hover:text-slate-950 px-8 py-3 relative z-10">
                    Dashboard</li>
            </a>
            <a href="#" class="text-xl text-gray-200 relative block">
                <div class="slide-bg"></div>
                <li class="transition-colors hover:bg-transparent hover:text-slate-950 px-8 py-3 relative z-10">Manage
                    Room</li>
            </a>
            <a href="#" class="text-xl text-gray-200 relative block">
                <div class="slide-bg"></div>
                <li class="transition-colors hover:bg-transparent hover:text-slate-950 px-8 py-3 relative z-10">Settings
                </li>
            </a>
        </ul>
    </div>
    <div class="col-span-6 ml-48">
        <h1
            class="shadow-lg bg-gradient-to-r from-purple-500 to-pink-500 p-6 text-3xl text-white text-center font-semibold sticky top-0 z-10">
            Administrator</h1>
        <div class="bg-gray-800 grid grid-cols-6 gap-4 p-6">
            <div class="col-span-2 p-8">
            </div>
            <div class="col-span-2 p-8">
            </div>
            <div class="col-span-2 p-8">
            </div>
        </div>
    </div>
    <script src="../entrepreneur/static/main.js"></script>
</body>

</html>