<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shabu</title>
    <link rel="icon" href="../static/icon.png">
    <link href="../static/styles2.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped&family=Sarabun&family=Teko:wght@500&display=swap"
        rel="stylesheet">
</head>

<body>
    <h1 style="background-color: rgb(255, 255, 255);">Shabu 🍲</h1>
    <div class="container">
        <div class="card">
            <img class="animal-image" src="../static/shabu-1.jpg">
            <h2>Shabu party</h2>
        </div>
        <div class="card">
            <img class="animal-image" src="../static/shabu-2.jpg">
            <h2>Laohu Shabu</h2>
        </div>
        <div class="card">
            <img class="animal-image" src="../static/shabu-3.jpg">
            <h2>Teenoi Chao Khun Will</h2>
        </div>
        <div class="card">
            <img class="animal-image" src="../static/shabu-4.jpg">
            <h2>Teenoi SBT</h2>
        </div>
        <div class="card">
            <img class="animal-image" src="../static/shabu-5.jpg">
            <h2>Shabu You Like</h2>
        </div>
        <div class="card">
            <img class="animal-image" src="../static/shabu-6.jpg">
            <h2>Teenoi @Susco square</h2>
        </div>
        <div class="card">
            <img class="animal-image" src="../static/shabu-7.jpg">
            <h2>Grilled pork</h2>
        </div>
    </div>

    <div class="button-container">
        <a class="button-style" href="../index.html">Return to home page</a>
    </div>
    <br>

    <footer class="footer" style="background-color: rgb(255, 255, 255); padding: 20px;">
        <div class="footer-content">
            <p>© 2023 Cute Pets. All rights reserved.</p>
            <p>Contact us: 65070186@kmitl.ac.th | Phone: 0986123549</p>
            <p>About Us</p>
            <p>IG: _magiboss</p>
            <p>Facebook: Mongkol Boss Boondamnoen</p>
        </div>
    </footer>
</body>

</html>
