<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel</title>
    <link rel="icon" href="../static/icon.png">
    <link href="../static/styles2.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped&family=Sarabun&family=Teko:wght@500&display=swap"
        rel="stylesheet">
</head>

<body>
    <h1 style="background-color: rgb(255, 255, 255);">Travel 🚢</h1>
    <div class="container">
        <div class="card">
            <img class="animal-image" src="../static/travel-1.jpg">
            <h2>Terminal 21</h2>
        </div>
        <div class="card">
            <img class="animal-image" src="../static/travel-2.jpg">
            <h2>The Mall Banhkapi</h2>
        </div>
        <div class="card">
            <img class="animal-image" src="../static/travel-3.jpg">
            <h2>Mega Plaza Saphan Lek</h2>
        </div>
        <div class="card">
            <img class="animal-image" src="../static/travel-4.jpg">
            <h2>KMUTT</h2>
        </div>
    </div>

    <div class="button-container">
        <a class="button-style" href="../index.html">Return to home page</a>
    </div>
    <br>

    <footer class="footer" style="background-color: rgb(255, 255, 255); padding: 20px;">
        <div class="footer-content">
            <p>© 2023 Cute Pets. All rights reserved.</p>
            <p>Contact us: 65070186@kmitl.ac.th | Phone: 0986123549</p>
            <p>About Us</p>
            <p>IG: _magiboss</p>
            <p>Facebook: Mongkol Boss Boondamnoen</p>
        </div>
    </footer>
</body>

</html>
