<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>แมว (Cat)</title>
    <link href="../static/animal.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped&family=Sarabun&family=Teko:wght@500&display=swap"
        rel="stylesheet">
</head>

<body>
    <h1>แมว (Cat)</h1>
    <div class="container">
        <div class="card">
            <img class="animal-image" src="../static/Persian.jpg" alt="Persian Cat">
            <div class="animal-info">
                <h2>แมวเปอร์เซียน (Persian)</h2>
                <p>
                    แมวเปอร์เซียนเป็นแมวสายพันธุ์ที่มีลักษณะที่น่ารัก ลวดลายใบหน้าและขนยาว มีหูที่โป่งหรือกลมโต
                    เป็นแมวที่อ่อนโยนและสุภาพ
                </p>
            </div>
        </div>

        <div class="card">
            <img class="animal-image" src="../static/Siamese.jpg" alt="Siamese Cat">
            <div class="animal-info">
                <h2>แมวไซยาม (Siamese)</h2>
                <p>
                    แมวไซยามมีลักษณะที่เรียวและเพรียว มีขนสั้นและมีลายสีเข้มสวยงาม ลายสีเข้มอยู่ที่หู, ขา, หาง
                    และหมวกที่หัว มีเสียงดังและเป็นแมวที่น่ารักและอบอุ่น
                </p>
            </div>
        </div>

        <div class="card">
            <img class="animal-image" src="../static/Maine Coon.jpg" alt="Maine Coon Cat">
            <div class="animal-info">
                <h2>แมวเมนคูน (Maine Coon)</h2>
                <p>
                    แมวเมนคูนเป็นสายพันธุ์ที่มีขนยาวและขนหนา มีขนสีหลากสี ลักษณะที่โดดเด่นคือ ขนหน้าและหางที่ฟูมโต
                    แมวเมนคูนเป็นสัตว์ที่อ่อนน้อมถ่อและรักความสนุกสนาน
                </p>
            </div>
        </div>

        <div class="card">
            <img class="animal-image" src="../static/Bengal.jpg" alt="Bengal Cat">
            <div class="animal-info">
                <h2>แมวเบงกอล (Bengal)</h2>
                <p>
                    แมวเบงกอลมีลักษณะที่หลากหลาย มีลายจุดที่คล้ายกับเสือ ขนสั้นและเงางาม
                    แมวเบงกอลมีอาการกระตือรือร้นและชอบเล่นน้ำ
                </p>
            </div>
        </div>

        <div class="card">
            <img class="animal-image" src="../static/Russian Blue Cat.jpg" alt="Russian Blue Cat">
            <div class="animal-info">
                <h2>แมวรัสเซียนบลู (Russian Blue)</h2>
                <p>
                    แมวรัสเซียนบลูมีลักษณะที่งดงามและกลมกล่อม ขนสั้นสีเงินคล้ายเหลือง
                    มีเสียงนุ่มนวลและเป็นแมวที่เพื่อนสนิทและมีอารมณ์สงบ
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card-animal-1">
            <h1>วิธีการเลี้ยงแมว</h1>
            <div class="animal-details">
                <ol>
                    <li>การให้อาหารที่เหมาะสม: ให้แมวดื่มน้ำสะอาดและให้อาหารที่มีโปรตีนสูง แมวเป็นสัตว์เลี้ยงเนื้อสัตว์
                        ควรให้เนื้อสัตว์สดเป็นหลัก</li>
                    <li>สิ่งที่ต้องเลี่ยง: อย่าให้แมวกินอาหารที่มีสารพิษ หรือสิ่งที่อาจทำให้แมวเป็นอันตราย</li>
                    <li>เวลาเล่นและสังคม: แมวต้องการเวลาเล่นและสังคมกับคน ควรให้เวลาเล่นและให้ความรักแก่แมวอย่างเพียงพอ
                    </li>
                    <li>การเลี้ยงแมวภายในบ้าน: อุปกรณ์เลี้ยงแมวภายในบ้านเช่น เตียงแมว, กระติกน้ำ, และของเล่นแมว
                        เพื่อสร้างสภาพแวดล้อมที่น่าสนุกและปลอดภัยสำหรับแมว</li>
                    <li>การฝึกสอน: แมวสามารถฝึกสอนให้ทำกิจกรรมเบื้องต้น เช่น การใช้ห้องน้ำ, การใช้กระติกน้ำ
                        และการใช้เครื่องขัดขน</li>
                    <li>การฉีดวัคซีนและการรักษาสุขภาพ:
                        ควรทำการฉีดวัคซีนและการตรวจสุขภาพประจำปีเพื่อรักษาสุขภาพแมวในสภาพที่ดี</li>
                    <li>การรับมือกับพฤติกรรม: อย่างในกรณีที่แมวมีพฤติกรรมที่ไม่พึงประสงค์
                        ควรให้เวลาให้แมวเข้าใจและพยุงกับพฤติกรรมเหล่านี้</li>
                    <li>การบำบัดการเหงือก: ควรตรวจสอบและทำความสะอาดเหงือกของแมวเพื่อป้องกันโรคในช่องปาก</li>
                    <li>การทำความสะอาดและดูแลเครื่องในบ้าน:
                        ควรทำความสะอาดและดูแลเครื่องในบ้านเพื่อให้แมวมีสภาพแวดล้อมที่สะอาดและปลอดภัย</li>
                    <li>การเลือกแมวให้เป็นเพื่อน:
                        ควรให้เวลาในการเลือกแมวให้เป็นเพื่อนเนื่องจากแต่ละสายพันธุ์และแมวก็มีลักษณะและบุคลิกที่แตกต่างกัน
                    </li>
                </ol>
            </div>
        </div>

        <div class="card-animal-2">
            <h2>สิ่งที่แมวชอบกิน</h2>
            <div class="animal-details">
                <ul>
                    <li>เนื้อสัตว์สดหรือแห้ง เช่น ปลา, ไก่, เนื้อวัว</li>
                    <li>อาหารแมวคุณภาพสูงที่มีโปรตีนสูงและไม่มีสารเคมี</li>
                    <li>นมแมว</li>
                    <li>อาหารแมวกระป๋องที่มีรสชาติที่แมวชื่นชอบ</li>
                    <li>ขนมแมว</li>
                    <li>อาหารเสริมรสชาติต่างๆ เช่น ตับ, ปลาแห้ง</li>
                    <li>ผลไม้เฉพาะบางชนิด เช่น มะละกอ, แอปเปิ้ล</li>
                    <li>หญ้าและพืชต่างๆ เพื่อช่วยในการขับถ่ายของแมว</li>
                    <li>อาหารแมวแบบอ่อนๆ สำหรับลูกแมวหรือแมวที่มีอายุเพิ่งเริ่มกินอาหารแห้ง</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="button-container">
        <a class="button-style" href="../index.html">กลับไปยังรายการสัตว์เลี้ยง</a>
    </div>
</body>

</html>