<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>หนู (Mouse)</title>
    <link href="../static/animal.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped&family=Sarabun&family=Teko:wght@500&display=swap"
        rel="stylesheet">
</head>

<body>
    <h1>หนู (Mouse)</h1>
    <div class="container">
        <div class="card">
            <img class="animal-image" src="../static/House Mouse.jpg" alt="House Mouse">
            <div class="animal-info">
                <h2>หนูบ้าน (House Mouse)</h2>
                <p>
                    หนูบ้านเป็นหนูที่ความนิยมมากที่สุดในฐานะสัตว์เลี้ยงและเป็นสัตว์เลื้อยคลานขนาดเล็ก
                    หนูบ้านมักมีขนสั้นและสีใกล้เคียงกับสีของพืชหรือกวางตุ้ง ส่วนหนูที่มีสีสันอาจจะมีให้เลือกหลากหลายสี
                    หนูบ้านเป็นสัตว์เลี้ยงที่ทำความสะอาดตัวเองและนิสัยที่เป็นมิตร
                </p>
            </div>
        </div>

        <div class="card">
            <img class="animal-image" src="../static/Fancy Mouse.jpg" alt="Fancy Mouse">
            <div class="animal-info">
                <h2>หนูแฟนซี (Fancy Mouse)</h2>
                <p>
                    หนูแฟนซีเป็นหนูที่ถูกเลือกทอดทิ้งจากสายพันธุ์ของหนูบ้าน โดยมีสีสันที่หลากหลายและความหลากหลายของลายสี
                    สามารถพบหนูแฟนซีที่มีสีขาว, ดำ, เทา, น้ำตาล, และสีอื่น ๆ หนูแฟนซีมักมีลักษณะน่ารักและนิสัยขี้เล่น
                </p>
            </div>
        </div>

        <div class="card">
            <img class="animal-image" src="../static/Dumbo Mouse.jpg" alt="Dumbo Mouse">
            <div class="animal-info">
                <h2>หนูดัมโบ้ (Dumbo Mouse)</h2>
                <p>
                    หนูดัมโบ้เป็นสายพันธุ์หนูที่มีลักษณะหูที่โต๊ะลงข้างของหัว ทำให้ดูน่ารักและแปลกตา
                    หนูดัมโบ้มีสีสันที่หลากหลายและลักษณะน่ารักทำให้เป็นที่นิยมในฐานะสัตว์เลี้ยง
                </p>
            </div>
        </div>

        <div class="card">
            <img class="animal-image" src="../static/Satin Mouse.jpg" alt="Satin Mouse">
            <div class="animal-info">
                <h2>หนูเสตน (Satin Mouse)</h2>
                <p>
                    หนูเสตนเป็นสายพันธุ์หนูที่มีลักษณะขนที่เงาะและมีพื้นผิวเงาะแม้ว่าไม่ได้สีสันที่หลากหลาย
                    ขนที่เงาะทำให้ดูมีเสน่ห์และมีความเงาะเป็นพิเศษเมื่อได้รับแสง
                    หนูเสตนเป็นสัตว์เลี้ยงที่อ่อนโยนและเรียบง่าย
                </p>
            </div>
        </div>

        <div class="card">
            <img class="animal-image" src="../static/Hairless Mouse.jpg" alt="Hairless Mouse">
            <div class="animal-info">
                <h2>หนูล้างขน (Hairless Mouse)</h2>
                <p>
                    หนูล้างขนเป็นสายพันธุ์หนูที่มีลักษณะขนที่ขาดหายไปหรือไม่มีขนเลย
                    สีผิวของหนูล้างขนอาจมีความหลากหลายแต่สีที่พบบ่อยคือสีชมพูหรือสีเทา
                    หนูล้างขนมักมีความอ่อนโยนและต้องการการดูแลที่พิเศษในเรื่องของอุณหภูมิและความชื้น
                </p>
            </div>
        </div>


    </div>

    <div class="container">
        <div class="card-animal-1">
            <h2>วิธีการเลี้ยงหนู</h2>
            <div class="animal-details">
                <ol>
                    <li>สิ่งที่ต้องเตรียมไว้ให้หนู: ควรมีกรงขนาดเหมาะสม, เสื่อ, อาหารและน้ำให้เป็นประจำ</li>
                    <li>การให้อาหาร: ให้อาหารสุนัขหรือแมวที่เหมาะสม และไม่ควรให้อาหารความอุดมสมบูรณ์สูงเกินไป</li>
                    <li>สิ่งที่ห้ามให้หนูกิน: ห้ามให้อาหารที่อาจเป็นอันตราย โดยเฉพาะอาหารที่มีส่วนผสมของสารพิษ</li>
                    <li>การสะอาดและดูแล: ควรทำความสะอาดกรงให้บ่อยครั้งและตรวจสอบสุขภาพของหนูเป็นประจำ</li>
                    <li>การจับกับการโต้แย้ง: หนูอาจต่อสู้กันเมื่อตั้งคู่หรือกลุ่มและควรเฝ้าดูแลการโต้แย้ง</li>
                    <li>การเลือกพันธุ์: หากต้องการเลี้ยงหนูเพื่อนำไปขยายพันธุ์ ควรเลือกพันธุ์ที่มีสุขภาพแข็งแรง</li>
                </ol>
            </div>
        </div>

        <div class="card-animal-2">
            <h2>สิ่งที่หนูชอบกิน</h2>
            <div class="animal-details">
                <ul>
                    <li>เมล็ดธัญพืชเช่น ข้าวสาลี, ข้าวฟ่าง, ข้าวสาลี, และข้าวโอ๊ต</li>
                    <li>เมล็ดซัมแสตร้า, เมล็ดถั่ว, และเมล็ดข้าวโพด</li>
                    <li>ผลไม้เช่น แอปเปิ้ล, กล้วย, สตรอเบอร์รี่, และกล้วยหอม</li>
                    <li>ผักสดเช่น ผักกาด, ผักกวางตุ้ง, และกะหล่ำปลี</li>
                    <li>แมลงสดหรือแห้งเช่น มด, แมลงอื่น ๆ, และตัวอ่อน</li>
                    <li>ขนมปังและขนมหวานที่ไม่มีน้ำตาลเพิ่มเติม</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="button-container">
        <a class="button-style" href="../index.html">กลับไปยังรายการสัตว์เลี้ยง</a>
    </div>
</body>

</html>