<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>สุนัข (Dog)</title>
    <link href="../static/animal.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped&family=Sarabun&family=Teko:wght@500&display=swap"
        rel="stylesheet">
</head>

<body>
    <h1>วิธีการเลี้ยงสุนัข (Dog)</h1>
    <div class="container">
        <div class="card">
            <img class="animal-image" src="../static/Golden Retriever.jpg" alt="Golden Retriever">
            <div class="animal-info">
                <h2>สุนัข โกลเด้น รีทรีฟเวอร์ (Golden Retriever)</h2>
                <p>
                    สุนัขโกลเด้นรีทรีฟเวอร์เป็นสุนัขที่มีความนิ่ง และอ่อนโยน มีขนสั้นและสีทองในส่วนหลัก
                    มีออสใบหูที่ลอยอยู่ที่ข้างหู
                    เป็นสุนัขที่ฉลาดและขี้เล่น นิสัยร่าเริง รักสนุกสนาน และขี้เล่นสุดๆ
                </p>
            </div>
        </div>

        <div class="card">
            <img class="animal-image" src="../static/Poodle.jpg" alt="Poodle">
            <div class="animal-info">
                <h2>สุนัขพูดเดิ้ล (Poodle)</h2>
                <p>
                    สุนัขพูดเดิ้ลเป็นสุนัขที่มีลักษณะขนลึกและหนา มักมีขนสีขาว, ดำ, น้ำตาล, และเทา
                    สุนัขพูดเดิ้ลมีสติสัมผัสและฉลาด
                    เป็นสุนัขที่มีออสใบหูต่อหูอยู่ที่ด้านข้างและโป่งหู มีลักษณะสีลายสวยงาม
                </p>
            </div>
        </div>

        <div class="card">
            <img class="animal-image" src="../static/German Shepherd.jpg" alt="German Shepherd">
            <div class="animal-info">
                <h2>สุนัขเยอรมันเชปเปอร์ด (German Shepherd)</h2>
                <p>
                    สุนัขเยอรมันเชปเปอร์ดเป็นสุนัขที่มีลักษณะกล้าหาญและอัศจรรย์ มีขนสั้นหนาสีดำและสีน้ำตาล
                    สุนัขสายพันธุ์นี้มีตาที่ฉลาดและมีต่อเข้ากับคน
                    มักใช้เป็นสุนัขขี้เล่น สุนัขเยอรมันเชปเปอร์ดเป็นสุนัขที่มีความเชี่ยวชาญในการทำงานเช่น
                    การทำงานกับตำรวจและสุนัขนำทาง
                </p>
            </div>
        </div>

        <div class="card">
            <img class="animal-image" src="../static/Bulldog.jpg" alt="Bulldog">
            <div class="animal-info">
                <h2>สุนัขบูลล์ด็อก (Bulldog)</h2>
                <p>
                    สุนัขบูลล์ด็อกเป็นสุนัขที่มีลักษณะหน้าตัวย่อส่วนและมีช่องคอต่ำ มีขนสั้นสีหลากสี
                    สุนัขสายพันธุ์นี้มีลักษณะหน้าตัวน่ารักและมีออสใบหูต่อหูตั้งอยู่ด้านบน
                    สุนัขบูลล์ด็อกมักเป็นสุนัขที่อ่อนโยนและมีอารมณ์สงบ
                    ส่วนใหญ่เป็นสุนัขที่นิยมในบทบาทของสัตว์เลี้ยงครอบครัว
                </p>
            </div>
        </div>

        <div class="card">
            <img class="animal-image" src="../static/Beagle.jpg" alt="Beagle">
            <div class="animal-info">
                <h2>สุนัขบีเกิล (Beagle)</h2>
                <p>
                    สุนัขบีเกิลเป็นสุนัขที่มีลักษณะทำงานที่รักการเดินทางและกลิ่นสิ่งของ มีขนสั้นสีน้ำตาลและขาว
                    สุนัขสายพันธุ์นี้มักมีตาสีน้ำตาลเหมือนด้วงและ
                    มีสองคันอยู่ด้านข้าง สุนัขบีเกิลเป็นสุนัขที่มีพลังงานมากและเป็นสุนัขที่สนุกสนานและขี้เล่น
                </p>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="card-animal-1">
            <h2>วิธีการเลี้ยงสุนัข</h2>
            <div class="animal-details">
                <ol>
                    <li>การให้อาหารที่เหมาะสม: ให้สุนัขดื่มน้ำสะอาดและให้อาหารที่มีโปรตีนสูง
                        สุนัขเป็นสัตว์เลี้ยงเนื้อสัตว์
                        ควรให้เนื้อสัตว์สดเป็นหลัก</li>
                    <li>สิ่งที่ต้องเลี่ยง: อย่าให้สุนัขกินอาหารที่มีสารพิษ หรือสิ่งที่อาจทำให้สุนัขเป็นอันตราย</li>
                    <li>เวลาเล่นและสังคม: สุนัขต้องการเวลาเล่นและสังคมกับคน
                        ควรให้เวลาเล่นและให้ความรักแก่สุนัขอย่างเพียงพอ
                    </li>
                    <li>การเลี้ยงสุนัขภายในบ้าน: อุปกรณ์เลี้ยงสุนัขภายในบ้านเช่น เตียงสุนัข, กระติกน้ำ, และของเล่นสุนัข
                        เพื่อสร้างสภาพแวดล้อมที่น่าสนุกและปลอดภัยสำหรับสุนัข</li>
                    <li>การฝึกสอน: สุนัขสามารถฝึกสอนให้ทำกิจกรรมเบื้องต้น เช่น การใช้ห้องน้ำ, การใช้กระติกน้ำ
                        และการใช้เครื่องขัดขน</li>
                    <li>การฉีดวัคซีนและการรักษาสุขภาพ:
                        ควรทำการฉีดวัคซีนและการตรวจสุขภาพประจำปีเพื่อรักษาสุขภาพสุนัขในสภาพที่ดี</li>
                    <li>การรับมือกับพฤติกรรม: อย่างในกรณีที่สุนัขมีพฤติกรรมที่ไม่พึงประสงค์
                        ควรให้เวลาให้สุนัขเข้าใจและพยุงกับพฤติกรรมเหล่านี้</li>
                    <li>การบำบัดการเหงือก: ควรตรวจสอบและทำความสะอาดเหงือกของสุนัขเพื่อป้องกันโรคในช่องปาก</li>
                    <li>การทำความสะอาดและดูแลสิ่งของภายในบ้าน:
                        ควรทำความสะอาดและดูแลสิ่งของภายในบ้านเพื่อให้สุนัขมีสภาพแวดล้อมที่สะอาดและปลอดภัย</li>
                    <li>การเลือกสุนัขให้เป็นเพื่อน:
                        ควรให้เวลาในการเลือกสุนัขให้เป็นเพื่อนเนื่องจากแต่ละสายพันธุ์และสุนัขก็มีลักษณะและบุคลิกที่แตกต่างกัน
                    </li>
                </ol>
            </div>
        </div>

        <div class="card-animal-2">
            <h2>สิ่งที่สุนัขชอบกิน</h2>
            <div class="animal-details">
                <ul>
                    <li>อาหารสุนัขคุณภาพสูงที่มีโปรตีนและสารอาหารที่เพียงพอ</li>
                    <li>เนื้อสัตว์สดหรือแห้ง เช่น เนื้อวัว, ไก่, และเนื้อปลา</li>
                    <li>อาหารสุนัขกระป๋องที่มีรสชาติที่สุนัขชื่นชอบ</li>
                    <li>ขนมสุนัข</li>
                    <li>ผลไม้ที่ปลอดภัยสำหรับสุนัข เช่น แอปเปิ้ลและแตงโม</li>
                    <li>อาหารเสริมรสชาติสำหรับสุนัข เช่น ตับ หัวใจ หรือปลาแห้ง</li>
                    <li>ขนมย่อยเป็นแสบสำหรับสุนัข</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="button-container">
        <a class="button-style" href="../index.html">กลับไปยังรายการสัตว์เลี้ยง</a>
    </div>
</body>

</html>