<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>นก (Bird)</title>
    <link href="../static/animal.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped&family=Sarabun&family=Teko:wght@500&display=swap"
        rel="stylesheet">
</head>

<body>
    <h1>นก (Bird)</h1>
    <div class="container">
        <div class="card">
            <img class="animal-image" src="../static/Parrot.jpg" alt="Parrot">
            <div class="animal-info">
                <h2>นกแก้ว (Parrot)</h2>
                <p>
                    นกแก้วเป็นนกที่มีความสวยงามและเป็นที่นิยมในฐานะสัตว์เลี้ยงและนกที่พูดได้
                    มีสีของขนที่หลากหลาย โดยสีขนที่ส่วนใหญ่คือสีสวยงามเปล่งปลั่ง
                    นกแก้วมีความชำนาญในการพูดภาษามนุษย์หลายคำ และมักมีความเชื่องช้าในการเรียนรู้สิ่งใหม่ ๆ
                </p>
            </div>
        </div>

        <div class="card">
            <img class="animal-image" src="../static/Canary.jpg" alt="Canary">
            <div class="animal-info">
                <h2>นกแคนารี (Canary)</h2>
                <p>
                    นกแคนารีเป็นนกที่มีเสียงร้องง่ายที่สุดในฐานะนกที่ถูกเลี้ยงในบ้าน
                    มีสีของขนที่หลากหลาย แต่สีที่พบบ่อยคือสีเหลืองและสีส้ม
                    นกแคนารีมีเสียงร้องที่สวยงามและเป็นที่นิยมในฐานะนกเพลงในการแสดงสวนสนุก
                </p>
            </div>
        </div>

        <div class="card">
            <img class="animal-image" src="../static/Budgerigar.jpg" alt="Budgerigar">
            <div class="animal-info">
                <h2>นกกระเต็น (Budgerigar)</h2>
                <p>
                    นกกระเต็นเป็นนกที่มีขนสีสวยงามและเป็นที่นิยมในฐานะนกเลี้ยงในบ้าน
                    สีขนของนกกระเต็นมีความหลากหลาย แต่สีที่พบบ่อยคือสีเขียวและสีน้ำเงิน
                    นกกระเต็นมีความอ่อนโยนและเป็นมิตร อาจเรียนรู้ส่วนของเสียงมนุษย์อย่างรวดเร็ว
                </p>
            </div>
        </div>

        <div class="card">
            <img class="animal-image" src="../static/Cockatoo.jpg" alt="Cockatoo">
            <div class="animal-info">
                <h2>นกค็อกกาทู (Cockatoo)</h2>
                <p>
                    นกค็อกกาทูเป็นนกที่มีขนที่สวยงามและมีขนาดใหญ่
                    มีสีของขนที่หลากหลาย แต่สีที่พบบ่อยคือสีขาวและสีเหลือง
                    นกค็อกกาทูมีส่วนหัวที่โต๊ะขนาดใหญ่ที่ทำให้ดูแตกต่างจากนกอื่น ๆ
                    นกค็อกกาทูมักมีความฉลาดและสามารถเรียนรู้สิ่งใหม่ ๆ ได้เช่นกัน
                </p>
            </div>
        </div>

        <div class="card">
            <img class="animal-image" src="../static/Hummingbird.jpg" alt="Hummingbird">
            <div class="animal-info">
                <h2>นกยูง (Hummingbird)</h2>
                <p>
                    นกยูงเป็นนกที่มีขนสีสวยงามและมีขนาดเล็ก
                    มีสีของขนที่หลากหลาย และมีขนาดที่เล็กมาก
                    นกยูงมีลักษณะที่โดดเด่นคือความรวดเร็วในการบินและสามารถห้อยและวิ่งทำให้เป็นนกที่สวยงามในการบิน
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card-animal-1">
            <h2>วิธีการเลี้ยงนก</h2>
            <div class="animal-details">
                <ol>
                    <li>เลือกกรงที่เหมาะสม: ควรเลือกกรงที่มีขนาดเหมาะสมและให้พื้นที่ในการบิน</li>
                    <li>การให้อาหารที่เหมาะสม: ให้อาหารสดเช่น ผลไม้, เมล็ด,
                        และต้นไม้เพื่อให้ความสวยงามและสมดุลในการรับประทานอาหาร</li>
                    <li>สิ่งที่ต้องเลี่ยง: ห้ามให้อาหารที่มีสารพิษและให้อาหารที่เป็นอันตรายต่อนก</li>
                    <li>สิ่งของในกรง: ควรมีเตียงและกิ่งไม้ในกรงเพื่อให้นกทำความสะอาดขนและวิ่ง</li>
                    <li>การสะอาดและดูแล: ควรทำความสะอาดกรงให้บ่อยครั้งและรักษาระบบทางการเปียกปูนให้สะอาด</li>
                    <li>การฝึกสอนและปรับปรุงพฤติกรรม: สามารถฝึกสอนนกให้เข้าใจคำสั่งและปรับปรุงพฤติกรรมให้ดีขึ้น</li>
                    <li>การเรียนรู้จากศัตรูและการระมัดระวัง:
                        ควรตรวจสอบสภาพร่างกายของนกและตรวจสอบศัตรูที่อาจก่อให้เกิดอันตราย</li>
                </ol>
            </div>
        </div>

        <div class="card-animal-2">
            <h2>สิ่งที่นกชอบกิน</h2>
            <div class="animal-details">
                <ul>
                    <li>ผลไม้และผักสดเช่น แอปเปิ้ล, กล้วย, และเบอร์รี่</li>
                    <li>เมล็ดเช่น คัมภีร์, งา, และแสนเทียน</li>
                    <li>หัวข้าวเปลือกและข้าวฟ่างที่มีสารอาหารครบถ้วน</li>
                    <li>เนื้อปลาและแมลงเพื่อเสริมสร้างโปรตีน</li>
                    <li>น้ำหวานและน้ำหมักเพื่อให้นกกินอาหารอย่างสนุกสนาน</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="button-container">
        <a class="button-style" href="../index.html">กลับไปยังรายการสัตว์เลี้ยง</a>
    </div>
</body>

</html>