<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>กระต่าย (Rabbit)</title>
    <link href="../static/animal.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped&family=Sarabun&family=Teko:wght@500&display=swap"
        rel="stylesheet">
</head>

<body>
    <h1>กระต่าย (Rabbit)</h1>
    <div class="container">
        <div class="card">
            <img class="animal-image" src="../static/Dutch Rabbit.jpg" alt="Dutch Rabbit">
            <div class="animal-info">
                <h2>กระต่ายดัตช์ (Dutch Rabbit)</h2>
                <p>
                    กระต่ายดัตช์เป็นกระต่ายที่มีลายสีต่างๆ มักมีลายสีขาวบริเสียงสีดำ
                    ลักษณะที่โดดเด่นคือมีเส้นตาที่ดำและคราบครัดที่คล้ายกับน้ำตาลที่แยกระหว่างสีขาวและสีดำ
                    กระต่ายดัตช์มีลักษณะน่ารักและนิสัยขี้เล่น
                </p>
            </div>
        </div>

        <div class="card">
            <img class="animal-image" src="../static/Angora Rabbit.jpg" alt="Angora Rabbit">
            <div class="animal-info">
                <h2>กระต่ายแองโกร่า (Angora Rabbit)</h2>
                <p>
                    กระต่ายแองโกร่าเป็นกระต่ายที่มีขนยาวและหนา มีสีขนที่หลากหลาย
                    ลักษณะที่โดดเด่นคือขนที่ยาวมากที่สุดเมื่อเทียบกับสายพันธุ์อื่น ๆ
                    กระต่ายแองโกร่าเป็นสัตว์ที่อ่อนโยนและนิสัยเรียบง่าย
                </p>
            </div>
        </div>

        <div class="card">
            <img class="animal-image" src="../static/Lop Rabbit.jpg" alt="Lop Rabbit">
            <div class="animal-info">
                <h2>กระต่ายลอป (Lop Rabbit)</h2>
                <p>
                    กระต่ายลอปเป็นกระต่ายที่มีหูที่โป่งลง ทำให้ดูน่ารักและน่าสนุก
                    สีขนของกระต่ายลอปมีหลากหลาย ลักษณะที่โดดเด่นคือหูที่โป่งลงข้างหน้าทำให้ดูต่างชนิด
                    กระต่ายลอปมีนิสัยสุภาพและนิสัยดีด
                </p>
            </div>
        </div>

        <div class="card">
            <img class="animal-image" src="../static/Netherland Dwarf Rabbit.jpg" alt="Netherland Dwarf Rabbit">
            <div class="animal-info">
                <h2>กระต่ายเนเธอร์แลนด์ดวอร์ฟ (Netherland Dwarf Rabbit)</h2>
                <p>
                    กระต่ายเนเธอร์แลนด์ดวอร์ฟเป็นกระต่ายที่มีขนสั้นและขาวมากที่สุด
                    มีสีขนอื่น ๆ ที่หลากหลาย ลักษณะที่โดดเด่นคือขนสั้นและขาวที่สุด
                    กระต่ายเนเธอร์แลนด์ดวอร์ฟมีขนะน่ารักและเป็นแมวที่สนุกสนาน
                </p>
            </div>
        </div>

        <div class="card">
            <img class="animal-image" src="../static/Rex Rabbit.jpg" alt="Rex Rabbit">
            <div class="animal-info">
                <h2>กระต่ายเร็กซ์ (Rex Rabbit)</h2>
                <p>
                    กระต่ายเร็กซ์เป็นกระต่ายที่มีขนสั้นและหนา สีขนของกระต่ายเร็กซ์มีหลากหลาย
                    ลักษณะที่โดดเด่นคือขนสั้นและหนา กระต่ายเร็กซ์เป็นสัตว์ที่เงียบสงบและอ่อนโยน
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card-animal-1">
            <h2>วิธีการเลี้ยงกระต่าย</h2>
            <div class="animal-details">
                <ol>
                    <li>เลือกสถานที่ที่เหมาะสม: ควรเลือกสถานที่ให้กว้างขวางและมีพื้นที่ในการเคลื่อนไหว</li>
                    <li>การให้อาหารที่เหมาะสม: ให้ผักสด, ฮายแฮย์, และฟืนเสื้อให้กิน และอย่าลืมให้น้ำดื่มเพียงพอ</li>
                    <li>สิ่งที่ต้องเลี่ยง: ห้ามให้แก้วและของเหลวอื่น ๆ ที่อาจทำให้กระต่ายเป็นอันตราย</li>
                    <li>สิ่งของในกรง: ควรมีเตียง, กรงขนาดเหมาะสม, และของเล่นให้กับกระต่าย</li>
                    <li>การสะอาดและดูแล: ควรทำความสะอาดกรงให้บ่อยครั้งและให้ความสำคัญกับความสะอาดของกระต่าย</li>
                    <li>การเลือกพันธุ์: หากต้องการเลี้ยงกระต่ายในนามธุรกิจ ควรเลือกพันธุ์ที่เหมาะสมและมีความน่าเชื่อถือ</li>
                    <li>การให้สัตว์เลี้ยง: ควรให้เวลาในการสังเกตุพฤติกรรมและความเปลี่ยนแปลงในสัตว์เลี้ยง</li>
                    <li>การฉีดวัคซีนและการรักษาสุขภาพ: ควรฉีดวัคซีนและตรวจสอบสุขภาพของกระต่ายให้เป็นประจำ</li>
                </ol>
            </div>
        </div>

        <div class="card-animal-2">
            <h2>สิ่งที่กระต่ายชอบกิน</h2>
            <div class="animal-details">
                <ul>
                    <li>ผักสดเช่น ผักกาด, ผักกวางตุ้ง, และผักคะน้า</li>
                    <li>ฮายแฮย์และฟืนเสื้อเป็นอาหารหลัก</li>
                    <li>ผลไม้เช่น แอปเปิ้ล, กล้วย, และสตรอเบอร์รี่</li>
                    <li>ฮอย, เมล็ดฮอย, และแฮมเตอร์เพื่อกรุณาอาหารเสริม</li>
                    <li>ข้าวฟ่างและซัยเข้ารูปเป็นอาหารเสริม</li>
                    <li>แกงป่า และต้นไม้ที่แกะดาต้าได้มากเพื่อเสริมสร้างความบันเทิงให้กระต่าย</li>
                    <li>น้ำให้กินเสมอและทำความสะอาดน้ำให้บ่อยครั้ง</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="button-container">
        <a class="button-style" href="../index.html">กลับไปยังรายการสัตว์เลี้ยง</a>
    </div>
</body>

</html>
